<template>
  <div class="row">
    <div
      v-for="(item, index) in bussinessProvider"
      :key="index"
      class="col-12 col-md-4 col-lg-3 my-3"
    >
      <Card
        :title="item.title"
        :description="item.description"
        :imageID="item.logo"
        :categoryId="categoryId"
      >
        <div class="contact-container">
          <a
            v-if="item.contact.phone"
            class="contact-container__link"
            target="_blank"
            alt
            :href="`tel:${item.contact.phone}`"
            ><i class="fas fa-phone me-2"></i
          ></a>
          <a
            v-if="item.contact.maplink"
            class="contact-container__link"
            target="_blank"
            alt
            :href="`${item.contact.maplink}`"
            ><i class="fas fa-map me-2"></i
          ></a>
          <a
            v-if="item.contact.email"
            class="contact-container__link"
            target="_blank"
            :href="`mailto:${item.contact.email}`"
            ><i class="fas fa-envelope me-2"></i>{{ item.contact.email }}</a
          >
          <a
            v-if="item.contact.facebook"
            class="contact-container__link"
            target="_blank"
            :href="`${item.contact.facebook}`"
            ><i class="fab fa-facebook me-2"></i
          ></a>
          <a
            v-if="item.contact.instagram"
            class="contact-container__link"
            target="_blank"
            :href="`${item.contact.instagram}`"
            ><i class="fab fa-instagram me-2"></i
          ></a>
          <a
            v-if="item.contact.website"
            class="contact-container__link"
            :href="`${item.contact.website}`"
            target="_blank"
            ><i class="fas fa-paperclip"></i
          ></a>
        </div>
      </Card>
    </div>
  </div>
</template>
<script setup>
import { getImgUrl } from "~/services/utils.js";

const props = defineProps({
  bussinessProvider: [],
  categoryId: String,
});

// setup code
</script>

<style lang="scss" scoped>
.contact-container {
  z-index: 10000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  &__link {
    color: white;
    font-size: 1.6rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}
</style>