<!-- components/Card.vue -->
<template>
  <div class="card" @click="redirectToCategory('restaurant')">
    <img class="card-image" :src="getFullImageURL" />
    <div class="card-content">
      <div class="card-text">
        <h2 class="card-text__title">{{ title }}</h2>
        <p class="card-text__description">{{ description }}</p>
      </div>
    </div>
    <slot class="p-4" />
  </div>
</template>
  
  <script>
export default {
  props: {
    imageUrl: String,
    title: String,
    description: String,
    imageID: String,
    categoryId: String,
  },
  computed: {
    getFullImageURL() {
      if (!this.imageID) {
        return new URL(
          `../assets/images/dummy/restaurant.jpeg`,
          import.meta.url
        ).href;
      }
      const imgUrl = new URL(
        `../directus/uploads/${this.imageID}.jpeg`,
        import.meta.url
      ).href;
      return imgUrl;
    },
  },
  methods: {
    redirectToCategory(categoryName) {
      this.$router.push({
        name: "category",
        params: { category: categoryName.toLowerCase() },
      });
    },
  },
};
</script>
  
<style lang="scss" scoped>
.card {
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  &:hover {
    border: 1px solid rgb(141, 141, 141);
    .card-text {
      height: 90%;
      &__description {
        max-height: calc(1.2em * 10);
      }
    }
  }
  &:after {
    background: linear-gradient(
      180deg,
      #0000,
      #0000004d 15%,
      #0009 30%,
      #000c 75%,
      #000
    );
    background-size: auto 150%;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: background-position 0.3s cubic-bezier(0.38, 0.41, 0.27, 1);
    width: 100%;
    z-index: 0;
  }
}
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-content {
  height: 30rem;
}
.card-text {
  position: absolute;
  bottom: 0;
  height: 60%;
  transition: height 0.8s cubic-bezier(0.38, 0.41, 0.27, 1);
  will-change: height;
  z-index: 10000;
  color: white;
  &__title {
    font-size: 2.5rem;
  }
  &__description {
    font-size: 1.5rem;
    max-height: calc(1.2em * 7);
    overflow: auto;
    line-height: 1.2em;
    margin: 0;
    @media (min-width: 600px) {
    }
  }
}
</style>
  