<template>
  <div class="category-section">
    <h2 class="category-section__title">
      Nepalese Owned Businesses By Categories
    </h2>
    <nuxt-link :to="`/category/test/`">
    </nuxt-link>
    <Swiper
      :slides-per-view="1.2"
      :height="500"
      :navigation="true"
      :modules="[SwiperGrid, SwiperNavigation]"
      :spaceBetween="10"
      :breakpoints="{
        430: {
          slidesPerView: 1.2,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 2.5,
          spaceBetween: 20,
        },
        1025: {
          slidesPerView: 3.5,
          spaceBetween: 25,
        },
        1340: {
          slidesPerView: 4.5,
          spaceBetween: 30,
        },
      }"
    >
      <SwiperSlide v-for="(category, index) in categoryList" :key="index">
        <nuxt-link :to="`/category/${category.type}/`">
          <Card
            :title="category.title"
            :description="'category description'"
          />
        </nuxt-link>
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<script setup>
import dataService from "../services/dataService.js";

const categoryId = useRoute().params.id;
const categoryList = dataService.getCategories(categoryId);

</script>
<style lang="scss">
.category-section {
  margin: 4rem 3rem;
  &__title {
    font-size: 3.2rem;
    font-weight: bold;
  }
}
.swiper-button-next,
.swiper-button-prev {
  padding: 20px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: black;
  border-radius: 50%;
  color: white !important;
  fill: white !important;
  transition: padding 0.3s cubic-bezier(0.38, 0.41, 0.27, 1);
  &::after {
    font-size: 16px;
  }
  &:hover {
    padding: 22px;
  }
}
</style>
