<template>
  <header class="header-section w-100 font-1">
    <nav class="navbar mx-4">
      <div class="header-section__links">
        <a href="#" class="text-sm font-medium">Categories</a>
      </div>
      <div class="">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/NepikoseLogo.svg" alt="Nepikose logo" />
        </a>
      </div>
      <div class="header-section__links">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Language</a>
        <a href="#">Social</a>
      </div>
    </nav>
  </header>
</template>
  
  <style lang="scss">
.header-section {
  background: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  &__links {
    display: flex;
    gap: 1rem;
    a {
      color: black;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
</style>