<template>
  <div class="w-100">
    <div class="hero-img" :style="{ backgroundImage: `url(${backgroundImage})` }">
      <div class="hero-overlay">
        <div class="hero-text">
          <h2 class="hero-text__title">Explore opportunities</h2>
          <h3 class="hero-text__subtitle">
            We connect Nepalese job seekers & employees based in Barcelona
          </h3>
          <nuxt-link :to="`/requests`">
              <span class="hero-button">Check current offers / demands</span>
            </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
import { ref } from "vue";
import heroImage from '@/assets/images/Nepikose-hero-image.jpg';
export default {
  setup() {
    // Define a reactive variable using ref
    const backgroundImage = ref(heroImage);
    return {
        backgroundImage,
    };
  },
};
</script>
  
  <style scoped lang="scss">
.hero-img {
  width: 100%;
  height: 50rem;
  background-size: cover;
  background-position: center bottom;
}
.hero-img:before {
  content: "";
  filter: blur(5px) !important;
}
.hero-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
}
.hero-text {
  position: absolute;
  left: 100px;
  padding-right: 0.2rem;

  @media only screen and (max-width: 600px) {
    left: 20px;
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

h2,
h3 {
  color: #fff !important;
}

.hero-button {
  padding: 0.5rem 1rem;
  line-height: 2rem;
  color: #fff;
  border-color: #fff;
  border: 1px solid;
  font-size: 19px;
  border-radius: 13px;
  margin-top: 11px;
}

a {
  span {
    background-color: rgb(131 129 129 / 30%);
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}
</style>