<template>
  <div class="container">
    <div class="text-container">
      <h1 class="text-container__title">{{ pageTitle }}</h1>
      <p class="text-container__description">{{ pageDescription }}</p>
    </div>
    <BussinessProvider :bussinessProvider="bussinessProvider" :categoryId="categoryId"/>
  </div>
</template>

<script setup>
import dataService from "../services/dataService.js";

const categoryId = useRoute().params.id;
const bussinessProvider = dataService.getPartnersByType(categoryId);

const pageTitle = `Nepalese ${categoryId}s in Barcelona`;
const pageDescription = `Explore Barcelona's Nepalese-owned restaurants for an authentic taste of Nepal. Delight in traditional flavors and vibrant dishes in the heart of the city. Embark on a culinary journey like no other.`;
</script>

<style lang="scss" scoped>
.text-container {
  margin: 2rem 0;
  &__title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.25;
    margin-top: 1.6rem;
    @media (min-width: 600px) {
      font-size: 4rem;
    }
  }
  &__description {
    font-size: 1.5rem;
    width: 100%;
    @media (min-width: 600px) {
      width: 60%;
      font-size: 1.6rem;
    }
  }
}
</style>

