@font-face {
  font-family: "Avenir Next LT W02 Regular";
  src: url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.eot");
  src: url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/be9a43357e0fe07642191e4b32995385.svg#Avenir Next LT W02 Regular")format("svg");
}

html,
body,
#__nuxt,
#__layout {
  width: 100%;
  /* height: 100%; */
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
  font-family: arial, sans-serif;
  overflow-y: auto;
  font-size: 10px;
}

.font-1 {
  font-family: "Avenir Next LT W02 Regular";
}

.primary-text {
  color: #222222;
}

.secondary-text {
  color: #717171 !important;
}

.bg-color-1 {
  background-color: var(--nepikose-cyan) !important;
}

.bg-color-2 {
  background-color: var(--nepikose-yellow) !important;
}
.bg-color-3 {
  background-color: black ;
  color: white;
}

/* default styles */
figure {
  margin-bottom: 0.5rem !important;
}

figcaption {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: 600;
  line-height: 1.375;
}

body,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
  color: inherit;
  background: none;
}

a:active,
a:hover {
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}


// components
@import 'animations/transitions';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';