<!-- layouts/default.vue -->

<template>
    <div class="bg-color-3">
      <Header>
        <!-- Your Header content here -->
      </Header>
  
      <!-- Page content goes here -->
      <slot />
  
      <Footer>
        <!-- Your Footer content here -->
      </Footer>
    </div>
  </template>
  