<template>
  <main class="font-1">
    <HeroSection />
    <button @click="submitForm()" class="d-none">Submit Form</button>
    <CategorySection />
    <OfferDemand />
    <FeatureSection />
    <!-- Main content goes here -->
  </main>
</template>
<script>
export default {
  methods: {
    async submitForm() {
      const response = await fetch("/api/send");
    },
  },
};
</script>